<h2>List of ratings</h2>

Number of ratings <%= @ratings.count %>
<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating.to_s %>  <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%> </li>
  <% end %>
</ul>
<p>
  <%= link_to 'New Rating', new_rating_path %>
</p>